h2 {
    font-size: 40px;
    margin-top: 22px;
    margin-left: 15px;
    margin-bottom: 40px;
    position: sticky;
}

h2::after{
    content: '';
    background-color: #5D47C9;
    display: inline-block;
    width: 42px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
}

.main-container p{ 
    text-align: center ;
    letter-spacing: 1.5px;
    color: #2E2E2E;
    font-weight: bold;
    font-size: 14px;
}

.main-container input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgb(48, 46, 46);
    padding: 10px;

}
.main-container input:focus {
    outline: none;
}

.main-container input::placeholder{
    color: rgb(54, 54, 54)
}

.main-container button {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #5D47C9;
    border: none;
    width: 80%;
    font-weight: bold;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
    margin-top: 40px;
}

.main-container button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #7163b6;
}

.main-container p:last-child {
    color: #5D47C9;
    cursor: pointer;
    margin-top: 15px;
}

