<app-background>    
    <h2>
        Login
    </h2>
    <form [formGroup]="activarCuentaForm" (ngSubmit)="validarCodigoCuenta()" novalidate>

        <div class="main-container">
            <p>
                Revise el email registrado, y digite el código que recibió
            </p>
            <input type="text" placeholder="Ingrese el código" required formControlName="codigoActivación">

            <div class="error" *ngIf="activarCuentaForm.get('codigoActivación')?.invalid && (activarCuentaForm.get('codigoActivación')?.touched || activarCuentaForm.get('codigoActivación')?.dirty)">
                <small *ngIf="activarCuentaForm.get('codigoActivación')?.errors?.['codigoActivación']">Código inválido</small>
            </div>
            

            <button type="submit" [disabled]="activarCuentaForm.invalid">Validar</button>
            <p>Reenviar código</p>
        </div>
    </form>
</app-background>
