<app-background>
    <h2>
        Recuperar cuenta
    </h2>
    
    <div class="main-container">
        <input type="email" name="email" id="email" placeholder="Ingrese su correo">
        <button>Enviar código</button>
        
        <div class="container-items">
            <p>
                ¿No tiene una cuenta registrada?
               
            </p>
            <p>
                <a href="/registro">
                    <span>Registrate ahora</span>
                </a>
            </p>
        </div>
    </div>
</app-background>