<div class="main-container">
    <header>
        <nav>
            <div class="container-icon">
                <img src="/images/ticket.svg" alt="">
                <h2>Uni<span>eventos</span></h2>
            </div>
            
            <div class="container-items">
                <ul>
                    <li>Eventos</li>
                    <li>Cupones</li>
                    <li>Historial</li>
                    <li>Perfil</li>
                    <li>
                        <img src="/images/dark_mode.svg" alt="">
                    </li>
                    <li>
                        <img src="/images/logout.svg" alt="">
                    </li>
                </ul>
            </div>
        </nav>

        <hr>
        <div class="container-info">
            <h1>
                Encuentra tus <span>eventos</span> favoritos
            </h1>
            <p>
                Descubre, reserva y disfruta de los mejores eventos en tu ciudad
            </p>
            <div class="container-form">
                <input type="text" name="" id="" placeholder="Buscar eventos">
                <button>
                    <img src="/images/search.svg" alt="">
                    Buscar
                </button>
            </div>
        </div>
    </header>
    <main>Main</main>
    <footer>Footer</footer>
</div>