<app-background>    
    <h2>Registro</h2>

    <div class="container-items">
        <input type="text" placeholder="nombre">
        <input type="text" placeholder="cedula">
        <input type="text" placeholder="direccion">
        <input type="text" placeholder="telefono">
        <input type="text" placeholder="correo">
        <input type="text" placeholder="contraseña">
        <input type="text" placeholder="confirmar contraseña">
    </div>

    <button>Crear</button>

</app-background>

