<main>
    <div class="container">
        <h1>Uni<span>eventos</span></h1>
        <h2>Login</h2>

        <input type="email" placeholder="Ingrese su correo" required>
        <input type="password" placeholder="Ingrese su contraseña" required>
        
        <a routerLink="">
            <p>¿Olvidó su contraseña?</p>
        </a>
        <div class="button-container">
            <button>Login</button>
        </div>
        <p class="footer">
            <span>No estás registrado</span>
            <a routerLink="/registro">Registrate ahora</a>
        </p>
    </div>
</main>
