<article>
        <div class="content">
            <h1>Evento 1</h1>
            <p>Descripción</p>
        
            <button>Info</button>
            <button class="comprar">Comprar Entradas</button>
            <select name="" id="">
                <option value="">Localidad 1</option>
                <option value="">Localidad 2</option>
                <option value="">Localidad 3</option>
            </select>
            <button>Compartir</button>
        </div>
        <img src="/images/concert.png" alt="Imagen del evento">
    
</article>
