<header>
    <nav>
        <div class="container-icon">
            <img src="/images/ticket.svg" alt="">
            <h2>Uni<span>eventos</span></h2>
        </div>

        @if (!isLogged) {
            <div class="container-items">
                <ul>
                    <li>
                        <a routerLink="/login">
                            <button>
                                Ingresar
                            </button>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/registro">
                            <button>
                                Registrarse
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        }@else {
            <div class="container-items">
                <ul>
                    <li>
                        <a routerLink="/eventos" routerLinkActive="active">
                            Eventos
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cupones" routerLinkActive="active">
                            Cupones
                        </a>
                    </li>
                    <li>
                        <a routerLink="/historial-compras" routerLinkActive="active">
                            Historial
                        </a>
                    </li>
                    <li>
                        <a routerLink="/perfil" routerLinkActive="active">
                            Perfil
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="/images/dark_mode.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/login">
                            <img src="/images/logout.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        }
        
    </nav>
    <hr>
</header>
